/*
Colors: 
#E54E79; rosado fuerte
#E56385; rosado claro
#00B2A9; celeste
#75726C; gris
#EDE9E2 gris clarito
*/

body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

/*Section Nav*/

nav{
	width: 100%;
	position: fixed;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #E54E79;

}

ul li{
	display: inline-block;
}

ul li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 26px;
	text-decoration: none;
}

li a:hover{
	background-color: #E56385;
	color: white;
}

/*Foto de bienvenida*/
.caja-bienvenida {
	background: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg) 50% 50% / 100% no-repeat fixed;
	background-size:cover;
	margin: 0;
	height: 670px;
    text-align: center;
}

/*Seccion play azul*/
.azul{
	background-color: #00B2A9;
	height: 610px;
}